<div>
    <h2>Login page</h2><hr>
    <div>{{id}}</div>
    <form #loginForm="ngForm" (ngSubmit)="handleFormValues(loginForm.value)">
        <label>
            Enter UserId : <input type="number" name="userId" [(ngModel)]="userId"
            #ui ="ngModel" required autocomplete="off">
            <span style="color:red" [hidden]="ui.valid || ui.pristine">UserId is mandotory</span>
        </label>
        <br>
        <br>
        <label>
            Enter Password : <input type="password" name="password" [(ngModel)]="password"
            #pw ="ngModel" required>
        </label>
        <span style="color:red" [hidden]="pw.valid || pw.pristine">Password is mandotory</span>
        <br>
        <input type="submit" value="Submit" [disabled] = "loginForm.invalid">
    </form>
</div>
